.add-project{
    button{
        padding: 5px 10px;
        margin-bottom: 15px;
    }
    form{
        margin: 20px 0;
        border: 1px solid #494949;
        padding: 15px;
        
        label{
            font-size: 15px;
        }
    }
}