nav.navigation{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        border-right: 1px solid #999;
        display: inline;
        list-style-type: none;
    }
     a{
         padding: 15px;
     }
     a.active{
         color: #383434;
     }
}